@model Variaveis
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the mato</h1>

    <p>
        O valor de <b>UserCount</b> é: <i>@Model.userCount</i>
    </p>

    <p>
        O valor de <b>TotalCount</b> é: <i>@Model.totalCount</i>
    </p>




    <p>
        O valor mínimo de <b>Byte</b> é: <i>@Model.minByte</i> e o máximo é <i>@Model.maxByte</i>
    </p>

    <p>
        O valor mínimo de <b>sByte</b> é: <i>@Model.minSbyte</i> e o máximo é <i>@Model.maxSbyte</i>
    </p>

    <p>
        O valor mínimo de <b>Short</b> é: <i>@Model.minShort</i> e o máximo é <i>@Model.maxShort</i>
    </p>

    <p>
        O valor mínimo de <b>Ushort</b> é: <i>@Model.minUshort</i> e o máximo é <i>@Model.maxUshort</i>
    </p>

    <p>
        O valor mínimo de <b>Int</b> é: <i>@Model.minInt</i> e o máximo é <i>@Model.maxInt</i>
    </p>

    <p>
        O valor mínimo de <b>Uint</b> é: <i>@Model.minUint</i> e o máximo é <i>@Model.maxUint</i>
    </p>

    <p>
        O valor mínimo de <b>Long</b> é: <i>@Model.minLong</i> e o máximo é <i>@Model.maxLong</i>
    </p>

    <p>
        O valor mínimo de <b>Ulong</b> é: <i>@Model.minUlong</i> e o máximo é <i>@Model.maxUlong</i>
    </p>
    

    

    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
